* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;

}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 50%;

}

.punkty,
.linie {
    color: white;
}

.grid {
    margin: 10px;
    width: 300px;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    background-color: lightblue;
  
}

.grid div {
    width: 30px;
    height: 30px;
  border: 1px solid;
  box-shadow: -3px -3px 7px #ffffffb2, 3px 3px 5px rgba(94, 104, 121, 0.945);
}



.oko {
    background: blue;
    box-shadow: -3px -3px 7px #ffffffb2, 3px 3px 5px rgba(94, 104, 121, 0.945);
}

.oko2 {
    background: black;
}

.oko3 {
    background-color: transparent;
}