* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: #B3E5FC;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.wrapp {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.wrapp button {
    background: linear-gradient(90deg, orange, #ff72c0);
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    box-shadow: -3px -3px 7px #ffffffb2, 3px 3px 5px rgba(94, 104, 121, 0.945);
}

.wrapp button:hover {
    transform: scale(1.1);
    background: linear-gradient(90deg, #ff72c0, orange);
}

.logo img {
    width: 40%;
}

.punkty,
.linie {
    color: black;
    font-size: 1.2rem;
}

.grid {
    margin: 10px;
    width: 300px;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    background-color: lightblue;
}

.grid div {
    width: 30px;
    height: 30px;
    box-shadow: -3px -3px 7px #ffffffb2, 3px 3px 5px rgba(94, 104, 121, 0.945);
}

.oko {
    background: blue;
    box-shadow: -3px -3px 7px #ffffffb2, 3px 3px 5px rgba(94, 104, 121, 0.945);
}

.oko2 {
    background: black;
}

.oko3 {
    background-color: black;
}

.btn {
    width: auto;
    height: auto;
    margin-top: 35px;
    display: flex;
    justify-content: space-around;
}

.btn button {
    width: 73px;
    height: 40px;
    margin: 2px;
    border-radius: 5px;
    border: none;
    outline: none;
    background: linear-gradient(90deg, #0162c8, #55e7fc);
    font-size: 1.3rem;
    color: red;
    box-shadow: -3px -3px 7px #ffffffb2, 3px 3px 5px rgba(94, 104, 121, 0.945);
}

.btn button:hover {
    transform: scale(1.05);
    background: linear-gradient(90deg, #55e7fc, #0162c8);
}